body {
  background-color: #A4D8F1;
  padding: none;
  margin: none;
  font-style: Arial;
  border-width: 1px;
  border-bottom-width: 1px;
}

header {
  background-color: #519EC4;
  margin: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  height: 40px;
  text-align: right;
  background-color: #519EC4;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-top: 20px;

}

hr {
  width: 90%;
  border: 1px solid;
  border-color: #519EC4;
}

.tile {
  background-color: #72BDE2;
  border-radius: 2pt;
  height: 150px;
  width: 150px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile:hover {
  background-color: white;
}

.tile-caption {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 150px;
  text-align: center;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.name {
  text-align: center;
}

.name-description {
  text-align: center;
}

.section-heading {
  margin-left: 40px;
  margin-top: 60px;
}

#introduction {
  margin-bottom: 40px;
}

#introduction-text {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

#find-me {
  height: 318px;
}

#email-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
}

p {
  font-size: 12pt;
}

.line {
  margin-left: 30px;
}

.git {
  background-color: #47A27D;
}

.linked {
  background-color: #FF9D4B;
}

.contact {
  background-color: #348BA4;
}

#small-git {
  height: 70px;
  width: 40px;
}

#small-linked {
  height: 70px;
  width: 70px;
}

#small-contact {
  height: 70px;
  width: 70px;
}

#small-dots {
  height: 70px;
  width: 70px;
}

.undertext {
  text-align: center;
}
